/* HTML Page */

body {
  background-color: gray;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: arial;
  min-width: 300px;
  min-height: 2000px;
}

.pagelinks {
  background-color: rgb(83, 83, 83);
  border-bottom-left-radius: 20px;
  border-top: solid black;
  border-bottom: solid black;
}

/* Nav */

nav {
  background-color: gray;
  width: 100%;
  height: 92px;
}

nav ul {
  display: flex;
  list-style: none;
  margin-top: -10px;

  margin-right: -20px;
  float: right;

  margin-right: -10px;

}

nav ul li a {
  color: #fff;
  line-height: 30px;
  padding: 12px 30px;
  font-size: 16px;
  text-decoration: none;
}

nav ul li a:hover {
  color: #228CDB;
  transition: 0.5s;
}

/* Travel Journal Heading */

#navbar {
  border: solid black;
  border-radius: 10px;
  align-self: center;
  width: 350px;
  text-align: center;
}

/* .img {
  align-self: center;
}

.image1 {
}

.image2 {
}

.image3 {
} */

#imgContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

img {
  width: 20%;
  align-self: center;
}

.messagebox {
  display: flex;
  justify-content: center;
}

.messages {
  background-color: rgb(160, 160, 160);
  text-align: center;
  width: 500px;
  border-radius: 20px;
  list-style-type: none;
}

.logo {
  height: 175px;
  width: 175px;
  position: fixed;
  border-radius: 100px;
  border: solid white;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: -20px;
}


/* Tagline */

#tagline {
  align-self: center;
}

/* Form */

form {
  align-self: center;
  display: flex;
  flex-direction: column;
}

/* Type Username */

.usertext {
  width: 300px;
  align-self: center;
  text-align: center;
  margin: 5px;
}

/* Type Message Text */

.messagetext {
  width: 300px;
  align-self: center;
  text-align: center;
  margin: 5px;
}

/* Submit Button */

button {
  width: 300px;
  align-self: center;
  margin-top: 10px;
  border-radius: 5px;
  cursor: url("photos/planebtn.png"), auto;
}

button:hover {
  color: #fff;
  background-color: #000000;
  transition: 1s;
}

/* Entries */

.entries {
}

.entryitems {
}

.messagetext {
  display: flex;
  justify-content: center;
}

.messages {
  background-color: rgb(160, 160, 160);
  text-align: center;
  width: 500px;
  border-radius: 20px;
  list-style-type: none;
}


/* Footer */

footer {
  position: fixed;
  background-color: #000000;
  text-align: center;
  bottom: 0;
  align-self: center;
  width: 100%;
  height: 40px;
  padding: 5px 0;
}
